<!doctype html>
{% load static %}
<html lang="en"><head>
  <title>Confirmation Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="confirmationBody">
	
	<div class="row">
		<h1 class="title">Confirmation Page</h1>
		<div class="rectangle"></div>
    </div>

    <form action="/" method="POST">
        {% csrf_token %}
        <p id="confirmation">Are you sure your name is <strong>{{ confirmName }}</strong> and your status is <strong>{{ confirmStatus }}</strong>?</p>
        <div class="hidden">
            {% for fields in confirmForm %}
                {{ fields }}
            {% endfor %}
        </div>
        <input type='submit' value="Yes" id="id_yes">
    </form>
    <button onclick="javascript:history.back()" id="id_no">No</button>
   
    
	<!--test-->
</body>
<script>

</script>
</html>