<!doctype html>
{% load static %}
<html lang="en"><head>
  <title>Story 7</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
	
	<div class="row">
		<h1 class="title">Hello, how are you?</h1>
		<div class="rectangle"></div>
	</div>
	
	<div class="row" style="padding-left:5vw; padding-right:5vw;">
		<form action="confirmation/" method = 'POST'>
			{% csrf_token %}
			<div class="form-row">
				<div class="col-sm-1" style="text-align: right; line-height: 25px;">
					<p>name:</p>
					<p>status:</p>
				</div>
				<div class="form-group col-sm-11"> 
					<div class="textfield" style="width: 400px;"> 
						{% for fields in form %}
							{{ fields }}
						{% endfor %}
					</div>              
				</div>
			</div>
			<div class="row">
				<input type="submit" class="btn submit" value="Submit" id="id_submit">
			</div>
			<br><br>
			<div>
				<div class="col-md-12">
					<div>
						<p id="status">Status</p>
						<p> 
							{% for a in stats %}
							<div class="statusbox">
								<div class="row">
									<div class="col-sm-6">
										<p id="id_name"> {{ a.name }}</p>
									</div>
									<div class="col-sm-6">
										<p id="id_status"> {{ a.status }}</p>
									</div>
								</div>  
							</div>
							<br> 
							{% endfor %}
						</p>               
					</div>
				</div>
			</div>
	   </form>
	   <button onclick="change()" name ='change' id="id_changeColor">Change Colour</button>
	</div>

	<!--test-->
</body>
<script>
	function change() {
		var x = document.getElementsByClassName('statusbox');
		var i;
		for(i = 0; i < x.length; i++) {
		x[i].style.color = 'black';
		}
	}
</script>
</html>