body {
	overflow-x:hidden; 
	background-color:#D8E4E5;
}

.title {
	position: relative;
	margin: 1vh 5vw;
	width: auto;
	height: 77px;
	left: 79px;

	font-family: Open Sans;
	font-style: bold;
	font-weight: 800;
	font-size: 35px;
	line-height: 77px;
	letter-spacing: 0.11em;

	color: #08154A;
	}

.statusbox{
    background-color: #675831;
    width: 500px;
    height: 40px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
    color: white;
    font-size: 20px;
    font-family: Open Sans;
	text-align: center;

}

.hidden {
	visibility: hidden;
}

#status{
    font-family: Open Sans;
    font-size: 3vw;
}

.confirmationBody {
	font-family: Open Sans;
    font-size: 20px;
	margin: 3vh 5vw;
}

.inline-block {
	display: inline-block;
}

div.textfield {
	width: 400px;
}

.submit {
	margin-left: 250px;
}